<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luckybox.mapper.ProductCategoryMapper">

    <select id="selectPageProductCategory" resultType="com.luckybox.pojo.vo.ProductCategoryPageVO">
        select p.*, p2.name as parent_name  from product_category p left join product_category p2
        on p.parent_id = p2.id
        <where>
            <if test="dto.name!=null and dto.name != ''">
                and p.name like concat('%', #{dto.name}, '%')
            </if>
            <if test="dto.parentId != null">
                and p.parent_id = #{dto.parentId}
            </if>
            <if test="dto.parentId == null">
                and p.parent_id IS NULL
            </if>
            <if test="dto.parentName!=null and dto.parentName != ''">
                and p2.name like concat('%', #{dto.parentName}, '%')
            </if>

        </where>
        order by p.sort_order asc, p.created_time desc
    </select>
    <select id="selectList" resultType="com.luckybox.pojo.vo.ProductCategoryPageVO">
        select p.*, p2.name as parent_name  from product_category p left join product_category p2
        on p.parent_id = p2.id
        order by p.sort_order asc, p.created_time desc
    </select>
</mapper>